xphnx <xphnx@riseup.net> <phnx@tutanota.com> <rober@localhost.localdomain>
loadsas <loadsas@mailbox.org> <8227504-load_sas@users.noreply.gitlab.com>
Robert von Oliva <okucha@naruciakk.eu> <git@naruciakk.com> <github@naruciakk.com>
Jochen Sprickerhof <git@jochen.sprickerhof.de> <gitlab@jochen.sprickerhof.de>
geeseven <geeseven@x.box> <geeseven@geeseven.com>
